{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-3 col-lg-3 mt-3">
            <div class=" card-inverse card-info">
               
                <div class="card-block">
                    <h4 class="card-title">About Us</h4>
                    <div class="card-text">
                        We exist so you can have the art you love. This means giving you easy access to
incredible art images and top-notch craftsmanship. Because when you find art you
love, you'll love your space more... and that's what it's all about.
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

{% endblock %}