{% extends "base.html" %}

{% block content %}
<style>
    .card-layout {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        background: #ffffff;
    }
</style>

<div class="card card-layout " style="width: 50rem;">
    <img class="card-img-top" src="{{ art.image.url }}" style="width:100%"></img>
    
    <h1 class="text-danger card-block card-title">
        {{ art.art_name}}
    </h1>
    <div class="card-body">
        <p class="text-primary" class="card-text">
            {{ art.description }}
        </p>
        <div class="card-footer">
        {% if art.instock == True  %}
        <a href="add">
            <button type="button" class="btn btn-info btn-sm" style="width: 450px;">
                ADD TO CART
            </button>
        </a>
            {% else %}
            <h3 style="color: red; text-align: center;"> out of stock </h3>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}