{% extends 'base.html' %}

{% block content %}

<title>Orders</title>

<h1>Your Orders </h1>

<style>
    .back-class {
        background-color: aliceblue;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
    }

    h3 {
        color: seagreen;
    }
</style>

{% for order,art in con %}


<div class="card card-layout back-class" style="width: 50rem;">
    <img class="card-img-top" src="{{ art.image.url }}" style="width:100%"></img>
    <h3>price = {{ art.price}}</h3>
    <h3>date = {{ order.date }}</h3>

</div>



{% endfor %}


{% endblock %}

